<!-- Just For Start -->
<!-- <p>about works!</p> -->

<div>
  <div class="container  text-center  my-5 bg-opacity-25 bg-success  ">
    <h4 class="fw-semibold m"> Hello Guys! This is Suraj Dalvi..❤️ </h4>
    <h4 class="fw-semibold"> My First Angular Application </h4>
    <a href="https://surajdalvi.000webhostapp.com/" rel="noreferrer" target="_blank">
      <img src="./assets/Suraj1.jpg" class="rounded mx-auto d-block" alt="Developer" width="300" height="500" />
    </a>
    <button type="submit" class="btn mx-3 my-3 fw-semibold btn-sm  bg-danger bg-opacity-50 ">click above photo to know
      more about me !</button>
  </div>
</div>