<!--  Just For Start  -->
<!-- <div>
  <h1>This is {{title}} </h1>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae debitis assumenda cumque eligendi a non maiores
    laudantium, placeat deleniti nulla molestias repellat temporibus aliquid quam numquam omnis possimus! Provident vero
    corrupti facere quas illo.
  </p>
</div> -->


<!--  # Complete App Struture #  -->

<!-- Header -->
<app-header> </app-header>

<!-- App -->
<!-- <app-todos> </app-todos> -->

<!-- Routing  -->
<router-outlet> </router-outlet>

<!-- Footer -->
<app-footer> </app-footer>





















<!-- # Note # -->
<!-- 1. Double curly braces - {{}} -> It means that you want to use JS variable 
                                  OR JS expression  -->